@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
    background-color: #190933;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto';

}
#toggle_nft:hover {
    background-color: black;
    cursor: pointer;
}
#toggle_nft {
    height: 75px;
    width: 200px;
    background-color: rgba(15, 52, 107, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
}
#id{
    color: white
}

#container {
    width: 275px;
    height: 500px;
    background-color: #476C9B;
    border-radius: 15px;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0.418);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.container:hover {
    position: relative;
    top: -10px;
    cursor: pointer;
}

.NFT_container {
    display: flex;
    justify-content: center;
    height: 50%;
}

#nft {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

h3 {
    color: white;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    display: flex;
    justify-content: space-between;
    width: 95px;
}

#price {
    color: white;
}

p{
    color: #B2B09B;
}

.footer {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: .5px solid hsl(215, 32%, 27%);
    padding-top: 7px;
}
.footer img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

span {
    color: white;
}
.toggle_nft {
    height: 50px;
    width: 150px;
    background-color: red;
}